<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}

  <body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    {{- partial "navigation.html" . -}}
    <!-- Header -->
    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                <h1 id="send">Träna på högskoleprovet med HPSkolan!</h1>
                <p class="p-large">
                  Gör som hundratals andra och nå din drömutbildning med oss!
                </p>
                <a
                  class="btn-solid-lg page-scroll"
                  target="_blank"
                  href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                  >SKAPA KONTO</a
                >
                <a class="btn-solid-lg page-scroll" href="#cards-1">LÄS MER</a>
              </div>
              <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
              <div class="image-container">
                <div class="img-wrapper">
                  <img
                    class="img-fluid"
                    src="images/bird.svg"
                    alt="alternative"
                  />
                </div>
                <!-- end of img-wrapper -->
              </div>
              <!-- end of image-container -->
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>
      <!-- end of header-content -->
    </header>
    <!-- end of header -->
    <svg
      class="header-frame"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      viewBox="0 0 1920 310"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #1089ff;
          }
        </style>
      </defs>
      <title>header-frame</title>
      <path
        class="cls-1"
        d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"
      />
    </svg>
    <!-- end of header -->

    <!-- Description -->
    <div id="cards-1" class="cards-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">
              Hur HPSkolan kan hjälpa dig nå din drömutbildning
            </h2>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-question usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Övningsfrågor</h4>
                <p>
                  Över 6000 olika övningsfrågor från provets olika kategorier.
                  Perfekt för att öva allt från matte till engelska!
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-user usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Personlig coach</h4>
                <p>
                  Få hjälp av tidigare provskrivare med toppresultat. Vi finns
                  där för att förklara svåra frågor eller provet i allmänhet.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-subscript usp-icon"></i>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <h4 class="card-title">Uträkningar och lösningar</h4>
                  <p>
                    Vi har skrivit specialanpassade lösningar till många
                    matteuppgifter. Ta del av dem och utveckla din mattekunskap.
                  </p>
                </div>
              </div>
            </div>
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-mobile usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Tillgänglig överallt</h4>
                <p>
                  Övningsportalen är anpassad till alla typer av enheter – du
                  kan träna i telefonen på bussen eller hemma framför datorn.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-book usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Teori</h4>
                <p>
                  Teorikapitel om provets olika delar fyllda med
                  exempeluppgifter och uträkningar.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-laugh-beam usp-icon"></i>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <h4 class="card-title">Användarvänlig</h4>
                  <p>
                    Vi har satsat allt på användarvänlighet. Vi tycker att vi har lyckats skapa den bästa användarupplevelsen av alla!
                  </p>
                </div>
              </div>
            </div>
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of cards-1 -->
    <!-- end of description -->

    <!-- Features -->
    <div id="features" class="tabs">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">Övningsportalen</h2>
            <p class="p-heading">
              Vår övningsportal innehåller flera olika övningslägen och
              funktioner. Du kan köra snabbövning, teorigenomgång, simulera ett
              gammalt prov med rättning och normering samt mycket mer!
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Tabs Links -->
            <ul class="nav nav-tabs" id="argoTabs" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="nav-tab-1"
                  data-toggle="tab"
                  href="#tab-1"
                  role="tab"
                  aria-controls="tab-1"
                  aria-selected="true"
                  ><i class="fas fa-list"></i>Snabbövning</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-tab-2"
                  data-toggle="tab"
                  href="#tab-2"
                  role="tab"
                  aria-controls="tab-2"
                  aria-selected="false"
                  ><i class="fas fa-envelope-open-text"></i>Gamla
                  Högskoleprov</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-tab-3"
                  data-toggle="tab"
                  href="#tab-3"
                  role="tab"
                  aria-controls="tab-3"
                  aria-selected="false"
                  ><i class="fas fa-graduation-cap"></i>Teori</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-tab-3"
                  data-toggle="tab"
                  href="#tab-4"
                  role="tab"
                  aria-controls="tab-4"
                  aria-selected="false"
                  ><i class="fas fa-chart-line"></i>Personlig statisik</a
                >
              </li>
            </ul>
            <!-- end of tabs links -->

            <!-- Tabs Content -->
            <div class="tab-content" id="argoTabsContent">
              <!-- Tab -->
              <div
                class="tab-pane fade show active"
                id="tab-1"
                role="tabpanel"
                aria-labelledby="tab-1"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/snabbovning.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Skräddarsy din övning med Snabbövning</h3>
                      <p>
                        Med vårt läge för Snabbövning kan du välja exakt vilka
                        kategorier du vill öva på och hur många frågor.
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Passar perfekt om du vill träna upp dina svagheter
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Fungerar bra när du är på bussen eller tunnelbanan
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Du kan välja om du vill använda tidtagning och facit
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->

              <!-- Tab -->
              <div
                class="tab-pane fade"
                id="tab-2"
                role="tabpanel"
                aria-labelledby="tab-2"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/gamla-prov.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Simulera tidigare Högskoleprov</h3>
                      <p>
                        Vi har tagit fram de 10 senaste proven till vår
                        provsimulator. Att göra gamla prov är ett perfekt test
                        för att se hur du ligger till.
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            I provsimulatorn rättas alla dina svar automatiskt
                            efter provet
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Det finns tidtagning, facit och normering.
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Du får tillgång till förklaringar på alla
                            matteuppgifter
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->

              <!-- Tab -->
              <div
                class="tab-pane fade"
                id="tab-3"
                role="tabpanel"
                aria-labelledby="tab-3"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/teori.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Teori</h3>
                      <p>
                        Vi har fyllt HPSkolan med teori som förklarar grunderna
                        i Högskoleprovet. Perfekt för dig som inte skrivit
                        provet tidigare!
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Genomgång av alla Högskoleprovets olika delprov
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Exempelfrågor från varje delprov med lösningsförslag
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Studietips och bra strategier för delproven
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->
              <!-- Tab -->
              <div
                class="tab-pane fade"
                id="tab-4"
                role="tabpanel"
                aria-labelledby="tab-4"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/statistik.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Följ din statistik</h3>
                      <p>
                        Vi samlar statistik för att du ska veta exakt vad du behöver förbättra för att nå ditt drömresultat.
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Hitta och förbättra dina svaga områden
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Följ dina framsteg mot målet
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Bedöm när du är redo att skriva provet
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->
            </div>
            <!-- end of tab content -->
            <!-- end of tabs content -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of tabs -->
    <!-- end of features -->

    <!-- Details -->
    <div id="details" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-container">
              <h2>
                Du kommer att tacka dig själv för att du började plugga idag!
              </h2>
              <p>
                Det är inte lätt att hitta tid eller ork för att plugga till
                Högskoleprovet! Låt oss hjälpa dig att ta steget och fullfölja dina studier på ett roligt sätt. Ditt framtida
                jag kommer tacka dig.
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Vår coach hjälper dig med ett passande studieupplägg utefter
                    din vardag och dina mål.
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Vår statistik hjälper dig identifiera dina svagheter och
                    förbättra dem! Lite övning varje dag räcker långt.
                  </div>
                </li>
              </ul>
              <a
                class="btn-solid-reg page-scroll"
                target="_blank"
                href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                >SKAPA KONTO</a
              >
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6">
            <div class="image-container">
              <img
                class="img-fluid"
                src="images/statistik.png"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of details -->

    <!--
    <div id="video" class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="above-heading">VIDEO</div>
            <h2 class="h2-heading">Spana in vår video om HPSkolan</h2>
            <div class="p-heading mb-4">
              Vi tycker att det bästa sättet att visa HPSkolan är genom en
              video. Därför har vi skapat ett kort klipp som visar HPSkolans
              alla funktioner!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="image-container">
              <div class="video-wrapper">
                <a
                  class="popup-youtube"
                  href="https://www.youtube.com/watch?v=fLCjQJCekTs"
                  data-effect="fadeIn"
                >
                  <img
                    class="img-fluid"
                    src="images/video-image.png"
                    alt="alternative"
                  />
                  <span class="video-play-button">
                    <span></span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
    <!-- Pricing -->
    
    <div id="pricing" class="cards-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <hr class="mb-5" />
            <h2>Köp medlemskap</h2>
            <div class="p-heading">
              Du betalar enkelt för HPSkolan med hjälp av Swish. Betalningen
              sker inne i övningsportalen efter att du skapat ett konto.
            </div>
            <img class="swish" src="images/swish.svg" alt="alternative" />
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card-->
            <div class="card">
              <div class="card-body">
                <div class="card-title">1 månad</div>
                <div class="price">
                  <span class="currency">kr</span><span class="value">299</span>
                </div>
                <div class="divider"></div>
                <div class="button-wrapper">
                  <a
                    class="btn-solid-reg page-scroll"
                    target="_blank"
                    href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                    >SKAPA KONTO</a
                  >
                </div>
              </div>
            </div>
            <!-- end of card -->
            <!-- end of card -->

            <!-- Card-->
            <div class="card">
              <div class="card-body">
                <div class="card-title">3 månader</div>
                <div class="price">
                  <span class="currency">kr</span><span class="value">499</span>
                </div>
                <div class="divider"></div>
                <div class="button-wrapper">
                  <a
                    class="btn-solid-reg page-scroll"
                    target="_blank"
                    href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                    >SKAPA KONTO</a
                  >
                </div>
              </div>
            </div>
            <!-- end of card -->
            <!-- end of card -->

            <!-- Card-->
            <div class="card">
              <!--<div class="label">
                            <p class="best-value">Best Value</p>
                        </div> -->
              <div class="card-body">
                <div class="card-title">6 månader</div>
                <div class="price">
                  <span class="currency">kr</span><span class="value">599</span>
                </div>
                <div class="divider"></div>

                <div class="button-wrapper">
                  <a
                    class="btn-solid-reg page-scroll"
                    target="_blank"
                    href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register"
                    >SKAPA KONTO</a
                  >
                </div>
              </div>
            </div>
            <!-- end of card -->
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of cards-2 -->
    <!-- end of pricing -->

    {{- partial "footer.html" . -}}
  </body>
</html>
