<!DOCTYPE html>
<html lang="sv">
  {{- partial "head.html" . -}}

  <body data-spy="scroll" data-target=".fixed-top">
    {{- partial "tag-manager.html" . -}} {{- partial "navigation.html" . -}}
    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                <h1 id="send">Träna på högskoleprovet</h1>
                <p class="p-large">
                  Här kan du hitta information om Högskoleprovet, eller börja
                  plugga direkt med studieplattformen HP-appen
                </p>
                <a
                  class="btn-solid-lg page-scroll"
                  target="_blank"
                  rel="nofollow"
                  href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                  >BÖRJA PLUGGA</a
                >
                <a class="btn-solid-lg page-scroll" href="#cards-1"
                  >HITTA INFO</a
                >
              </div>
              <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
              <div class="image-container">
                <div class="img-wrapper">
                  <img
                    class="img-fluid owl"
                    src="images/owl.svg"
                    alt="alternative"
                  />
                </div>
                <!-- end of img-wrapper -->
              </div>
              <!-- end of image-container -->
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>
      <!-- end of header-content -->
    </header>
    <!-- end of header -->
    <svg
      class="header-frame"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      viewBox="0 0 1920 310"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #1089ff;
          }
        </style>
      </defs>
      <title>header-frame</title>
      <path
        class="cls-1"
        d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"
      />
    </svg>
    <!-- end of header -->

    <!-- Description -->
    <div id="cards-1" class="cards-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">Få koll på provet med denna snabbguide</h2>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-question usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Vad är Högskoleprovet?</h4>
                <p>
                  Provet som ger dig en fördel när du vill komma in på en
                  universitetsutbildning. Få en intro till högskoleprovet på
                  sidan <a href="/om-hogskoleprovet">intro</a>.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-user usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Var anmäler jag mig?</h4>
                <p>
                  Det gör du på Studera.nu. Läs mer om hur anmälan går till på
                  sidan anmälan.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-subscript usp-icon"></i>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <h4 class="card-title">Vilka frågor kommer på provet?</h4>
                  <p>
                    Provet testar bland annat kunskaper i matte, läsförståelse,
                    diagram och ordförståelse. Testa ett urval av frågor på
                    sidan <a href="/test">test</a>.
                  </p>
                </div>
              </div>
            </div>
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-mobile usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Är provet digitalt?</h4>
                <p>
                  Nej, högskoleprovet görs fortfarande på plats, främst i olika
                  skolor runt om i landet. Testa gärna några typiska
                  högskoleprov på sidan
                  <a href="/gamla-hogskoleprov">gamla högskoleprovet</a>.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-book usp-icon"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  Behöver jag plugga till Högskoleprovet?
                </h4>
                <p>
                  Ja, de flesta behöver plugga till provet för att maximera sina
                  chanser att nå sin utbildning. Läs hur du kan använda gamla
                  prov till din fördel på sidan gamla högskoleprov.
                </p>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-laugh-beam usp-icon"></i>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <h4 class="card-title">Gör plugget roligt</h4>
                  <p>
                    Med HP-appen är vår ambition att göra resan till
                    Högskoleprovet enklare. Börja resan redan idag och
                    <a
                      href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                      >skapa ett gratis konto här</a
                    >.
                  </p>
                </div>
              </div>
            </div>
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of cards-1 -->
    <!-- end of description -->

    <!-- Features -->
    <div id="features" class="tabs">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">HP-appens studieplattform</h2>
            <p class="p-heading">
              Vill du träna inför högskoleprovet på ett effektivt sätt kan det
              vara en god idé att ta hjälp av en plattform speciellt utformad
              för effektivt högskoleprovsplugg. Med HP-appen kan du nå dina
              utbildningsdrömmar snabbare.
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Tabs Links -->
            <ul class="nav nav-tabs" id="argoTabs" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="nav-tab-1"
                  data-toggle="tab"
                  href="#tab-1"
                  role="tab"
                  aria-controls="tab-1"
                  aria-selected="true"
                  ><i class="fas fa-list"></i>Övningar</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-tab-2"
                  data-toggle="tab"
                  href="#tab-2"
                  role="tab"
                  aria-controls="tab-2"
                  aria-selected="false"
                  ><i class="fas fa-envelope-open-text"></i>Prov</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-tab-3"
                  data-toggle="tab"
                  href="#tab-3"
                  role="tab"
                  aria-controls="tab-3"
                  aria-selected="false"
                  ><i class="fas fa-graduation-cap"></i>Poängprognos</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-tab-3"
                  data-toggle="tab"
                  href="#tab-4"
                  role="tab"
                  aria-controls="tab-4"
                  aria-selected="false"
                  ><i class="fas fa-chart-line"></i>Personlig statisik</a
                >
              </li>
            </ul>
            <!-- end of tabs links -->

            <!-- Tabs Content -->
            <div class="tab-content" id="argoTabsContent">
              <!-- Tab -->
              <div
                class="tab-pane fade show active"
                id="tab-1"
                role="tabpanel"
                aria-labelledby="tab-1"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/ovning.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Övningar</h3>
                      <p>
                        Optimera ditt övande inför provet. Välj exakt vad du
                        vill öva på på inom vart och ett av de 8 delproven.
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Välj specifikt vad du vill träna på, till exempel
                            Algebra inom delprovet XYZ.
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Få automatisk rättning och effektiva lösningar som
                            hjälper dig att bli bättre
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Välj hur och var du vill plugga; funkar både på
                            mobilen, paddan och datorn
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        rel="nofollow"
                        href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->

              <!-- Tab -->
              <div
                class="tab-pane fade"
                id="tab-2"
                role="tabpanel"
                aria-labelledby="tab-2"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/prov.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Prov</h3>
                      <p>
                        Träna digitalt på alla prov sedan 2011 (då provet
                        gjordes om till nuvarande format).
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Automatisk rättning och normerad poäng
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Få lösningar till hur du löser uppgifterna
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Lättanvänt och snyggt användargränsnitt
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        rel="nofollow"
                        href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->

              <!-- Tab -->
              <div
                class="tab-pane fade"
                id="tab-3"
                role="tabpanel"
                aria-labelledby="tab-3"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/utveckling.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Poängprognos</h3>
                      <p>
                        HP-appen introducerar personlig poängprognos. Det
                        betyder att du alltid har en aktuell normerad poäng,
                        innan du ens gjort provet.
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Skapar en prognos i realtid baserat på dina svar.
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Se hur din normerade poäng utvecklar sig vecka för
                            vecka.
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Poängprognos både totalt och på varje delprov.
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        rel="nofollow"
                        href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->
              <!-- Tab -->
              <div
                class="tab-pane fade"
                id="tab-4"
                role="tabpanel"
                aria-labelledby="tab-4"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="image-container">
                      <img
                        class="img-fluid"
                        src="images/statistik2.png"
                        alt="alternative"
                      />
                    </div>
                    <!-- end of image-container -->
                  </div>
                  <!-- end of col -->
                  <div class="col-lg-6">
                    <div class="text-container">
                      <h3>Personlig statistik</h3>
                      <p>
                        Ser hur det går med plugget så du enklare kan fokusera
                        på det viktigaste
                      </p>
                      <ul class="list-unstyled li-space-lg">
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Poängprognos på varje delprov
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Statistik över hur många uppgifter du har klarat
                          </div>
                        </li>
                        <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body">
                            Historik så du kan gå tillbaka och analysera dina
                            misstag
                          </div>
                        </li>
                      </ul>
                      <a
                        class="btn-solid-lg page-scroll"
                        target="_blank"
                        rel="nofollow"
                        href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                        >SKAPA KONTO</a
                      >
                    </div>
                    <!-- end of text-container -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of tab-pane -->
              <!-- end of tab -->
            </div>
            <!-- end of tab content -->
            <!-- end of tabs content -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of tabs -->
    <!-- end of features -->

    <!-- Details -->
    <div id="details" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-container">
              <h2>Börja i tid med ditt plugg inför Högskoleprovet!</h2>
              <p>
                Att uppnå en hög poäng på Högskoleprovet är en utmaning.
                Statistiken visar att de flesta gör provet tre gånger innan de
                når målpoängen. Men med HP-appen kan din förberedelse bli både
                roligare och mer effektiv:
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Förvandla ditt pluggande till en rolig upplevelse genom ett
                    lättanvänt användargränssnitt som gör inlärningen smidig och
                    engagerande.
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Maximera din effektivitet genom att dra nytta av personlig
                    statistik, detaljerade analyser och djupgående lösningar
                    till frågor som är anpassade efter dina behov.
                  </div>
                </li>
              </ul>
              <p>
                HP-appen är mer än bara ett verktyg; det är din partner på vägen
                mot framgång på Högskoleprovet. Börja din resa redan idag!
              </p>
              <a
                class="btn-solid-reg page-scroll"
                target="_blank"
                rel="nofollow"
                href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                >SKAPA KONTO</a
              >
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6">
            <div class="image-container">
              <img
                class="img-fluid"
                src="images/hpappen-statistik2.png"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of details -->

    <!--
    <div id="video" class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="above-heading">VIDEO</div>
            <h2 class="h2-heading">Spana in vår video om HPSkolan</h2>
            <div class="p-heading mb-4">
              Vi tycker att det bästa sättet att visa HPSkolan är genom en
              video. Därför har vi skapat ett kort klipp som visar HPSkolans
              alla funktioner!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="image-container">
              <div class="video-wrapper">
                <a
                  class="popup-youtube"
                  href="https://www.youtube.com/watch?v=fLCjQJCekTs"
                  data-effect="fadeIn"
                >
                  <img
                    class="img-fluid"
                    src="images/video-image.png"
                    alt="alternative"
                  />
                  <span class="video-play-button">
                    <span></span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
    <!-- Pricing -->

    <div id="pricing" class="cards-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <hr class="mb-5" />
            <h2>HP-appen är gratis att prova</h2>
            <div class="p-heading">
              Kom igång med plugget direkt och prova HP-appen. Du binder dig
              inte till något. Välj sedan själv om du vill uppgradera och få
              tillgång till allt.
            </div>
            <img class="swish" src="images/klarna.svg" alt="alternative" />
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card-->
            <div class="card">
              <div class="card-body">
                <div class="card-title">Hela HP-appen i 12 månader</div>
                <div class="price"><span class="value">989 kr</span><br /></div>
                <!--<span class="currency">/ månad</span>-->
                <div class="divider"></div>
                <div class="button-wrapper">
                  <a
                    class="btn-solid-reg page-scroll"
                    target="_blank"
                    rel="nofollow"
                    href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                    >SKAPA KONTO</a
                  >
                </div>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card-->
            <div class="card">
              <div class="card-body">
                <div class="card-title">Verbal del i 12 månader</div>
                <div class="price"><span class="value">569 kr</span><br /></div>
                <!--<span class="currency">/ månad</span>-->
                <div class="divider"></div>
                <div class="button-wrapper">
                  <a
                    class="btn-solid-reg page-scroll"
                    target="_blank"
                    rel="nofollow"
                    href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                    >SKAPA KONTO</a
                  >
                </div>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card-->
            <div class="card">
              <div class="card-body">
                <div class="card-title">Kvantitativ del i 12 månader</div>
                <div class="price"><span class="value">569 kr</span><br /></div>
                <!--<span class="currency">/ månad</span>-->
                <div class="divider"></div>
                <div class="button-wrapper">
                  <a
                    class="btn-solid-reg page-scroll"
                    target="_blank"
                    rel="nofollow"
                    href="https://app.hpappen.se/?utm_source=adalyte&utm_medium=content_hpskolan"
                    >SKAPA KONTO</a
                  >
                </div>
              </div>
            </div>
            <!-- end of card -->
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of cards-2 -->
    <!-- end of pricing -->

    {{- partial "footer.html" . -}}
  </body>
</html>
