<div class="email-signup-wrapper-small">
  <input
    type="text"
    class="mr-sm-1"
    id="email_address_small"
    placeholder="Få 10 unika tips inför Högskoleprovet..."
  />
  <button type="submit" id="emailSmallSubmit" class="btn btn-sm">
    <span id="small-email-spinner-wrapper" class="spinner-icon hide">
      <i class="fas fa-spinner fa-spin email-spinner"></i>
    </span>
    <span id="small-email-button-text">Skicka</span>
  </button>
</div>

<div class="email-signup-small-checkbox">
  <input type="checkbox" id="toc-small" value="Agreed-to-Terms" required />
  <label for="toc-small">
    <small
      >Jag godkänner att ni skickar tips och information om
      Högskoleprovet.</small
    >
  </label>
</div>
<div class="email-feedback">
  <small id="small-email-message-success" class="hide text-success">
    Vi skickar informationen via email inom kort!
  </small>
  <small id="small-email-message-error" class="hide text-danger">
    Något gick fel. Kontrollera att du skrivit rätt adress och bockat i rutan.
  </small>
</div>
