<div id="ord-test" class="row mb-5">
  <div class="col-sm-6 text-center">
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD VT 2019</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD VT 2018</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD VT 2017</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD VT 2016</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD VT 2015</a></p>
  </div>
  <div class="col-sm-6">
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD HT 2019</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD HT 2018</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD HT 2017</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD HT 2016</a></p>
    <p><a rel="nofollow" class="btn-solid-lg" href="">ORD HT 2015</a></p>
  </div>
</div>
