


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <a class="navbar-brand logo-text page-scroll" href="/">HPSkolan</a>

    <!-- Image Logo 
            <a class="navbar-brand logo-image" href="index.html">
                <img src="{{ .Site.BaseURL }}images/logo.svg" alt="alternative"></a> 
            -->
    <!-- Mobile Menu Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-awesome fas fa-bars"></span>
      <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown Menu -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle page-scroll"
            href="/om-hogskoleprovet/"
            id="navbarDropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >OM HÖGSKOLEPROVET</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/test/"
			><span class="item-text">TEST</span></a
		  >		  
		  <div class="dropdown-items-divide-hr"></div>

            <a class="dropdown-item" href="/anmalan/"
              ><span class="item-text">ANMÄLAN</span></a
            >
            <div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/gamla-hogskoleprov/"
              ><span class="item-text">GAMLA HÖGSKOLEPROV</span></a
            >
            <div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/resultat/"
              ><span class="item-text">RESULTAT</span></a
			>
			<div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/hogskoleprovet-kurs/"
              ><span class="item-text">KURS</span></a
			>
			<div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/facit/"
              ><span class="item-text">FACIT</span></a
			>
			<div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/normeringstabeller/"
              ><span class="item-text">NORMERINGSTABELLER</span></a
			>
			<div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/fusk/"
              ><span class="item-text">FUSK</span></a
            >
		  </div>
		  
        </li>
		<!-- end of dropdown menu -->
		
		        <!-- Dropdown Menu -->
				<li class="nav-item dropdown">
					<a
					  class="nav-link dropdown-toggle page-scroll"
					  href="/delprov/"
					  id="navbarDropdown"
					  role="button"
					  aria-haspopup="true"
					  aria-expanded="false"
					  >DELPROV</a
					>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="/dtk/"
						><span class="item-text">DTK</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/xyz/"
						><span class="item-text">XYZ</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/nog/"
						><span class="item-text">NOG</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/kva/"
						><span class="item-text">KVA</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/ord/"
						><span class="item-text">ORD</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/las/"
						><span class="item-text">LÄS</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/elf/"
						><span class="item-text">ELF</span></a
					  >
					  <div class="dropdown-items-divide-hr"></div>
					  <a class="dropdown-item" href="/mek/"
						><span class="item-text">MEK</span></a
					  >
					</div>
				  </li>
				  <!-- end of dropdown menu -->
		  


        <li class="nav-item">
          <a class="nav-link page-scroll" href="/#pricing">PRISER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="/blogg/">BLOGG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="/kontakt/">KONTAKT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link page-scroll" target="_blank" href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/login">LOGGA IN</a>
        </li>
      </ul>
      <span class="nav-item">
        <a class="btn-outline-sm" target="_blank" href="https://hpskolan.xn--hgskoleprovet-imb.nu/auth/register">BLI MEDLEM</a>
      </span>
    </div>
  </div>
  <!-- end of container -->
</nav>
<!-- end of navbar -->
<!-- end of navigation -->
